.block.notice
  %h3 APICE methodology
  .content
    %p Application for accident investigation.
.block
  %h3 Links
  %ul.navigation
    %li
      %a{:href => "#"} Open EXISTING investigation
    %li
      %a{:href => "#"} Create NEW investigation
