#block-text.block
  .content
    %h2.title Wellcome to APICE application
    .inner
      %p.first
        Application for accident investigations by Simple Solution.
        = succeed "," do
          %span.hightlight APICE methodology!
    